/* StackPane root */
.root {
   -fx-background-image: url("../image/Login.jpg");
   -fx-background-size: cover;
   -fx-background-position: center;
   -fx-background-repeat: no-repeat;
}

#login{
    -fx-background-color: #3EAFF4;
}
/* VBox chứa form */